body
{
    user-select: none;
}

.download_list
{
    border: 1px solid #e5e5e5;
    margin: 1rem;
    box-shadow: 0 0 8px #e1e1e1;
    display: flex;
    flex-direction: column;
}
.download_list>a
{
    line-height: 1.5rem;
    font-size: 0.9rem;
    border-bottom: 1px solid #e1e1e1;
    padding: 0.5rem;
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
}
.download_list>a>i:first-child
{
    margin: 0.5rem;
    color: #535353;
}


.ol,.ul
{
    margin: 0;
    padding: 0;
    list-style-type: none;
    border: 1px solid #e5e5e5;
}
.ol>li,.ul>li
{
    padding: 0.8rem;
    border: 1px solid #e5e5e5;
}

hr{background-color: #e1e1e1;}
